@*Llamado a entidades*@
@using Entities
@using Business
<div>

    <EditForm Model="oProduct">
        <div class="form-control">
            <label>Referencia: </label>
            <InputText @bind-Value="oProduct.ProductId" class="form-control" />
        </div>
        <div class="form-control">
            <label>Nombre dek producto: </label>
            <InputText @bind-Value="oProduct.ProductName" class="form-control" />
        </div>
        <div class="form-control">
            <label>Descripción: </label>
            <InputTextArea @bind-Value="oProduct.ProductDescription" class="form-control" />
        </div>
        <input type="button" value="Agregar producto" @onclick="SaveProduct" />
    </EditForm>

</div>
@code {
    //Se crea un objeto de porduct entiti poara poder 
    //Trabar con el
    ProductEntity oProduct = new ProductEntity();

    private void SaveProduct()
    {
        B_Product.CreateProduc(oProduct);
    }

}
