@using Entities
@using Business

<a href="category/create">Nueva categoria</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categorie in categories)
        {
        <tr>
            <td>@categorie.CategoryId</td>
            <td>@categorie.CategoryName</td>
            <td><a href="category/update/@categorie.CategoryId">Editar</a></td>
        </tr>
        }

    </tbody>
</table>

@code {
    List<CategoryEntity> categories = B_Category.CategoryList();

    protected override async Task OnInitializedAsync()
    {
        categories = B_Category.CategoryList();
    }
}
